<ion-header>
  <ion-toolbar>
    <ion-title>Campus Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

  <div class="input">
    <ion-input
      type="text"
      [(ngModel)]="thnAkademik"
      placeholder="Year Academic Input"
    ></ion-input>
    <ion-button (click)="postTahun()" shape="round"> Submit </ion-button>
  </div>

  <div class="header">
    <img src="assets/bg.png">
  </div>

  <div class="content" *ngFor="let i of data">
    <div *ngIf="i[1] !== null">
      <div class="chat-kiri">
        
        <div class="ballon1">
          <div class="foto1">
            <img src="assets/unbin.png">
          </div>
          <h5>{{ i[1] }}</h5>
          <h6>{{ i[0] }}</h6>
        </div>
      </div>
    </div>
    <div *ngIf="i[2] !== null">
      <div class="chat-kanan">

        <div class="ballon2">
          <div class="foto2">
            <img src="assets/finkom.jpeg">
          </div>
          <h5>{{ i[2] }}</h5>
          <h6>{{ i[0] }}</h6>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>
